{:kotoba.app/id "cloud.itonami.isic-1511", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia3wwxj7requa53kxpixkjoevg3praszbpf3o6zyeutjh3ma2fmrq", :kotoba.app/embed-url "ipfs://bafkreia3wwxj7requa53kxpixkjoevg3praszbpf3o6zyeutjh3ma2fmrq", :published {:archive "https://kotobase.net/ipfs/bafkreia3wwxj7requa53kxpixkjoevg3praszbpf3o6zyeutjh3ma2fmrq", :size 72655, :put-status 201, :get-status 200, :at "2026-08-15T14:04:00.557Z"}}
